<div class="nav-container">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <div>
        <a class="navbar-brand" routerLink="/">Dev SSS</a>
      </div>
      <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              [attr.aria-expanded]="!isCollapsed"
              aria-label="Toggle navigation"
              (click)="isCollapsed = !isCollapsed"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
        [ngbCollapse]="isCollapsed"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item" *ngIf="auth.loggedIn">
            <a routerLink="external-api" class="nav-link">External API</a>
          </li>
        </ul>



        <ul class="navbar-nav d-none d-md-block">
          <!--   Login button: show if NOT authenticated      -->
          <li class="nav-item my-2" *ngIf="auth.loggedIn === false">
             <button class="btn btn-primary btn-margin" (click)="auth.login()">Log In</button>
          </li>
          <!-- / Login button -->

          <!--  Fullsize dropdown: show if authenticated        -->
          <li class="nav-item dropdown" *ngIf="auth.userProfile$ | async as profile" ngbDropdown>
            <a
              ngbDropdownToggle
              class="nav-link dropdown-toggle"
              id="profileDropdown"
              data-toggle="dropdown"
              *ngIf="profile"
            >
              {{ profile.name }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
              <button
                class="dropdown-item dropdown-profile"
                routerLink="profile"
                *ngIf="profile">
                <fa-icon [icon]="faUser" class="mr-3"></fa-icon> Profile
              </button>
              <div class="dropdown-divider"></div>
              <button
                class="btn btn-link dropdown-item"
                (click)="auth.logout()">
                <fa-icon [icon]="faPowerOff" class="mr-3"></fa-icon> Log Out
              </button>
            </div>
          </li>

        </ul>
        <!-- /Fullsize dropdown -->

        <!-- Responsive login button: show if NOT authenticated -->
        <ul class="navbar-nav d-md-none" *ngIf="auth.loggedIn === false">
          <button
            class="btn btn-primary btn-block my-2"
            (click)="auth.login()"
          >
            Log in
          </button>
        </ul>
        <!-- /Responsive login button -->

        <!-- Responsive profile dropdown: show if authenticated -->
        <ul
          class="list-group list-group-flush d-md-none"
          *ngIf="auth.userProfile$ | async as profile"
          style="min-height: 170px"
        >
          <li class="list-group-item" *ngIf="profile">


                  <b class="d-inline-block">{{ profile.name }}</b>

          </li>
          <li>
            <a class="list-group-item list-group-item-action" routerLink="/profile">
              <fa-icon [icon]="faUser" class="mr-3"></fa-icon> Profile
            </a>
          </li>

          <li>
            <a class="list-group-item list-group-item-action" (click)="auth.logout()">
              <fa-icon [icon]="faPowerOff" class="mr-3"></fa-icon> Log Out
            </a>
          </li>
        </ul>




      </div>
    </div>
  </nav>
</div>
